.cardBig{
    width: 435px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #2A2C34;
    border-radius: 24px;
    overflow: hidden;
}

.header{
    width: 435px;
    height: 56px;
    text-align: center;
    background-color: #33353F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--neutral-text);
    border-top-right-radius: 24px;
}

.body{
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #2A2C34;
    overflow-y: auto;
}